@page "/discover"
@layout MainLayout
@inject INavigationService _nav
@inject IPolarShadow _polarShadow
@inject IStateContext _stateContext
@inject IMessageService _msgService
@inject NavigationManager _navManager;

<Layout>
    <Content Class="scroll-content">
        @if (_source != null && _source.Count != 0)
        {
            <AntList TItem="ISite" DataSource="_source" Grid="grid">
                <ListItem OnClick="()=>ItemClick(context)">
                    <Space Style="width:100%;cursor:pointer" Direction="DirectionVHType.Vertical" Align="center">
                        <SpaceItem>
                            <Icon Type="book" Theme="outline" Style="font-size:50px;color:#1890ff" />
                        </SpaceItem>
                        <SpaceItem>
                            <div style="height:45px">
                                <Text Strong Class="text-auto-hidden">@context.Name</Text>
                            </div>
                        </SpaceItem>
                    </Space>
                </ListItem>
            </AntList>
        }
        else
        {
            <Empty />
        }
    </Content>
</Layout>

@code {
    private List<ISite> _source;
    private bool _isLoading = false;
    private bool _isMoreLoading = false;
    private bool _hasMore = true;
    private static ListGridType grid = new ListGridType
    {
        Gutter = 16,
        Xs = 2,
        Sm = 2,
        Md = 4,
        Lg = 4,
        Xl = 6,
        Xxl = 8
    };
    private CancellationTokenSource _cts;

    private ISequentialRequest<ICollection<VideoSummary>> _discoverHandler;


    protected override void OnInitialized()
    {
        _source = _polarShadow.GetSites().Where(f=>f.HasRequest(VideoRequests.Main)).ToList();
    }



    private void ItemClick(ISite site)
    {
        _nav.NavigateTo(_navManager.GetUriWithQueryParameters("/discover/site", new Dictionary<string, object>
        {
            {"site",site.Name}
        }),true);
    }
}
