    
<Card Bordered>
    <Cover>
        <img src="@Summary.ImageSrc" alt="img" />
    </Cover>
    <ChildContent>
        <div>
            <Text Strong>@Summary.Name</Text>
        </div>
        <div>
            <Paragraph Class="text-auto-hidden" Ellipsis="true">@Summary.Description</Paragraph>
        </div>
    </ChildContent>
</Card>

<style>
    .text-auto-hidden{
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

</style>
@code {

    [Parameter]
    public VideoSummary Summary{ get; set; }
}
