@inject IHttpFileResource _imageCache
@inject IHttpResource _httpRes;

<Card Bordered BodyStyle="padding:5px" Style="cursor:pointer;max-width:220px">
    <Cover>
        <ImageCompatible Src="@_imageSrc" UseCache="@UseCache" Style="max-height:290px">
            <Placeholder>
                <Icon Type="play-circle" Theme="outline" Style="font-size:50px;color:#1890ff" />
            </Placeholder>
        </ImageCompatible>
    </Cover>
    <ChildContent>
        <div style="height:45px">
            <Text Strong Class="text-auto-hidden">@Summary.Name</Text>
        </div>
        <div>
            <Text Strong Style="float:right">@Summary.Site</Text>
        </div>
    </ChildContent>
</Card>

@code {
    private string _imageSrc;

    [Parameter]
    public VideoSummary Summary{ get; set; }
    [Parameter]
    public bool UseCache { get; set; }


    protected override void OnInitialized()
    {
        _imageSrc = Summary?.ImageSrc;
    }
}
