    
<Card Bordered BodyStyle="padding:5px" Style="cursor:pointer;max-width:220px">
    <Cover>
        <img src="@Summary.ImageSrc" alt="img" style="max-height:290px" />
    </Cover>
    <ChildContent>
        <div style="height:45px">
            <Text Strong Class="text-auto-hidden">@Summary.Name</Text>
        </div>
        <div>
            <Text Strong Style="float:right">@Summary.SiteName</Text>
        </div>
    </ChildContent>
</Card>

<style>
    .text-auto-hidden{
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

</style>
@code {

    [Parameter]
    public VideoSummary Summary{ get; set; }
}
